@import './partials/variables';
@import './partials/mixin';
@import './partials/margin';
@import './partials/padding';
@import './partials/grid';
@import './partials/background-color';
@import './partials/helpers';
@import './partials/border';
@import './partials/cards';
@import './partials/capsules';
@import './partials/modal';
@import './partials/formsFields';
@import './components/sidebar';
@import './components/login';
@import './components/header';
@import './components/patient-table';


body {
  background-color: white;
}

.profile-grey-bg {
  background-color: #ececec;
  padding: 20px;
  border-radius: 35px;
}

.default-select {
  .ant-select-selection {
    margin-top: -8px;
  }
}

.main {
  padding: 5px;
  margin-top: 5px;
}

.ant-form-item-control input {
	border-radius: 7px;
	height: 45px;
	background: #F8F8F8;
}

.ant-btn {
	height: 45px;
}

.ant-btn-primary{
	background-color: #2255C2;
	border-color: #2255C2;
	&:hover{
		background-color: #1749b5;
		border-color: #1749b5;
	}
}

.ant-input {
	&:hover{
		border-color: #1749b5;
	}
	&:focus{
		border-color: #2255C2;
		box-shadow: 0 0 0 2px rgb(34, 85, 194, 0.45);
	}
}

a {
	color: $primary-color;
	&:hover
	{
		color: $primary-color;
	}
}