@import './partials/variables';
@import './partials/color';
@import './partials/mixin';
@import './partials/margin';
@import './partials/padding';
@import './partials/grid';
@import './partials/background-color';
@import './partials/btn';
@import './partials/helpers';
@import './partials/border';
@import './partials/cards';
@import './partials/capsules';
@import './partials/modal';
@import './partials/formsFields';
@import './partials/tabs';
@import './partials/buttons';
@import './partials/tables';
@import './partials/_tempFile';
@import './partials/_steps';
@import './partials/calendar';
@import './partials/shadow';
@import './components/sidebar';
@import './components/login';
@import './components/header';
@import './components/patient-page';
@import './components/labels';
@import './components/home';
@import './components/chat';
@import './components/enrollment';
@import './components/admin';
@import './components/patient-details';
@import './components/inventory';
@import './components/consumables';
@import './components/logistics';
@import './components/support';
@import './components/screening';
@import './components/forms';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1175px;
  margin: auto;
}
.profile-grey-bg {
  background-color: #ececec;
  padding: 20px;
  border-radius: 35px;
}
.error-model {
  button {
    height: fit-content;
    span {
      padding: 5px px 60px;
      font-size: 16px;
    }
  }
}
.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border: none !important;
  box-shadow: none !important;
}
.ant-select-open .ant-select-selection {
  border: none !important;
  box-shadow: none !important;
}
.default-select {
  .ant-select-selection {
    // margin-top: -8px;
  }
}

.main {
  padding: 5px;
  margin-top: 5px;
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
}

.color-red{
  color:red !important;
}

.w-125 {
  width: 123%;
}
.border-space {
  .table {
    border-spacing: 0 1em;
  }
}

.square-table {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 9px 12px;
    padding-bottom: 0%;
    margin: 15px 18px 7px;
    word-wrap: break-word;
  }

  .ant-table-content {
    table {
      border-collapse: separate;
      text-align: center;
      vertical-align: middle;
    }

    table thead tr {
      border-collapse: collapse;
      border-style: hidden;
    }
    .ant-table-thead tr th {
      border: unset;
      padding: 15px;
      font-weight: bold;
      text-align: center;
      .ant-table table {
        border-spacing: 0 3px;
      }

      // why repeating code ?? check the below line
      &:first-child {
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
      }
      &:last-child {
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
      }
    }

    .ant-table-row td {
      &:first-child {
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
      }
      &:last-child {
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
      }
    }
  }
  .ant-upload-list.ant-upload-list-text {
    width: 130px;
    margin: auto;
    margin-left: -20px;

    .ant-upload-list-item-info {
      .ant-upload-list-item-name {
        padding-left: 15px;
      }
    }
  }
  // .ant-switch.ant-switch-checked {
  //   height:33px;
  //   background-color: #3869d1 !important;
  //   .ant-switch-inner {
  //     padding: 7px;
  //     font-size: 15px;
  //   }
  //   .ant-switch-checked::after {
  //     top: 3px;
  //     height: 23px;
  //     width: 23px;
  //   }
  // }
}
// .ant-form-vertical .ant-form-item {
// padding-bottom: unset;
// margin-bottom: unset;
// }
.square-table .ant-table-tbody {
  tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) {
    td {
      background: #fff;
    }
  }
}
.page-header {
  margin-top: -1rem;
  // margin-bottom: 20px;
  .selection-tab .ant-select-selection {
    padding-top: 11px !important;
  }
}
.page-title {
  font-size: 1.5625rem;
  font-weight: 600;
  color: #000;
  margin-left: 15px;
}
.page-title.head {
  font-weight: 500 !important;
  padding-left: 3rem;
}
.heading {
  font-size: 1.5625rem;
}
.plain-header-border {
  .ant-card-head {
    border-bottom: none;
  }
}
.vertical-line {
  position: absolute;
  width: 20px;
  height: 0;
  border: 1px solid #e9e9e9;
  transform: rotate(90deg);
  margin-top: 20px;
  margin-left: -20px;
}
.container-div {
  width: 100%;
  display: flex;
}
.container-div.main {
  display: block !important;
  position: relative;
  text-align: end;
  width: fit-content;
  margin-left: auto;
}
.container-steps-div {
  width: 98%;
  display: flex;
}
.container-steps-div.main {
  text-align: right !important;
  // display: block !important;
  width: 100%;
}
.container-drop-down-div {
  width: 5%;
  margin-right: 1%;
  margin-left: auto;
}

.specific {
  // for treatment process
  .page-title {
    font-size: 1.5625rem;
    font-weight: 600;
    // margin-left: 5%;
  }
}
.specific-storage {
  // for Smart-Lab-Storage
  .page-title {
    font-size: 1.5625rem;
    font-weight: 600;
    // margin-left: 10px;
  }
}
.inventory-storage-title {
  .page-title {
    // margin-left: 12.5%;
  }
}
.vertical-line-standard-table {
  padding-bottom: 9px;
  width: 1px;
  height: 20px;
  border: 0.3px solid #e9e9e9;
  margin: 2px 6px 0 0;

  // why do this why so many sci ? @naveed discuss with me
  // position: absolute;
  // transform: rotate(90deg);
  // margin-top: 27px;
  // margin-left: -15px;
}
.support_page {
  .ant-tabs.ant-tabs-top {
    padding: 0 !important;
  }
  .ant-tabs-nav-scroll {
    .ant-tabs-tab {
      margin: 0 4px !important;
    }
  }
  .ant-tabs-nav {
    .ant-tabs-tab {
      font-size: 12px !important;
    }
    .ant-tabs-tab-active {
      border: 1px solid #ececec !important;
      color: black;
    }
  }
  .page-title {
    font-weight: 400;
  }
}
.ant-pagination {
  .ant-pagination-item {
    line-height: 32px;
  }
  .ant-pagination-item-link,
  .ant-pagination-disabled {
    background: #f0f3ff;
    zoom: 1.3;
  }
  .ant-pagination-item,
   .ant-pagination-item-link,
  .ant-pagination-disabled {
    border-radius: 22px;
    zoom: 1.3;
  }
  .ant-pagination-next,
  .ant-pagination-prev {
    border-radius: 22px;
    zoom: 1.3;
  }
  .ant-pagination-item-active {
    background-color: #fa6363;
    border: none;
    a {
      color: white;
    }
  }
}
.home-page {
  .home-tab {
    width: 97% !important;
  }
}
.home-page.container {
  .title {
    margin-bottom: 10px;
  }
}
.org-title {
  margin-left: 8px;
  margin-right: 8px;

  .login-logo-x {
    line-height: 14px;
    padding: 15px 10px;
    border-radius: 22px;
    background-color: #f9f9f9;
    font-weight: 600;
  }
}
.clearfix.mt-15 {
  .ant-input:focus {
    border: 1px solid #ececec !important;
  }
}
.users-list {
  .ant-btn:active {
    color: unset !important;
    background: #ececec;
  }
  .ant-btn:hover {
    color: unset !important;
    background: #ececec;
  }
}

.page-header.clearfix {
  position: relative;
  padding: 0 61px 0 22px;

  .page-title.pl-5 {
    position: absolute;
    bottom: 0;
    color: black;
  }
  .ant-btn {
    height: fit-content;
    padding: 0;
    span {
      font-size: 1rem;
      padding: 13px;
    }
  }
}
// ==========================
.patient-page {
  overflow-x: auto;

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    border: none !important;
  }
  .ant-tabs-tab:hover {
    color: black !important;
  }
  .ant-table-row {
    .action-button.ant-btn {
      height: fit-content;
      padding: 7px 10px;
      color: #000;
      span {
        font-size: 13px;
      }
      // padding: 13px 15px;
    }
    .action-button.ant-btn:hover,
    .action-button.ant-btn:focus {
      color: unset !important;
      background-color: #ececec;
      border: 1px solid #ececec !important;
    }
  }
  .default-card-x {
    .ant-alert {
      width: 75%;
      margin: auto;
      background-color: #ececec;
      border: gray;
    }
  }
}
.screening-tabs {
  .ant-tabs-nav-wrap {
    .ant-table-tbody {
      .ant-tabs-tab {
        border: 1px solid #ececec;
        background-color: white !important;
      }
      // .ant-tabs-tab-active {
      //   background-color: #f2f5fb !important;
      // }
      .ant-tabs-tab:hover {
        color: unset !important;
      }

      // td {
      //   font-weight: 500;
      // }
    }
  }
}

.enrollment-page {
  .ant-alert-info {
    padding: 0.75rem 1.25rem;
    background-color: #e2e3e5;
    border: 1px solid gainsboro;
  }
  // kt-form__actions {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  // }
  .ant-alert.ant-alert-no-icon {
    border: none;
    background-color: #ececec !important;
  }
  textarea.ant-input:focus {
    border: none;
  }
  .ant-calendar-picker.ant-calendar-picker-large {
    .ant-calendar-picker-input.ant-input {
      padding-bottom: 5px !important;
    }
  }
  .ant-tabs-content.ant-tabs-content-animated.ant-tabs-left-content {
    .ant-tabs-nav-container.ant-tabs-nav-container-scrolling {
      padding: 0;
    }
    .ant-tabs-nav {
      .ant-tabs-tab {
        margin-right: 7px !important;
        // width: 32.5%;
        .ant-tabs-tab-unclosable {
          font-size: 14px;
        }
      }
    }
  }
  .ant-form.ant-form-vertical {
    .ant-row.ant-form-item {
      margin-bottom: 15px !important;
    }
  }
}
.pick-info {
  .text-right {
    color: black;
    font-weight: bold;
  }
}
.delivery-info {
  .text-right {
    color: black;
    font-weight: bold;
  }
}
.cmnt-msg {
  // .ant-form-item-control {

  //   background-color: #fff !important;
  // }
  #chat_message {
    background-color: #fff;
    border: 1px solid #ececec;
    height: 56px;
    padding: 8px;
    border-radius: 42px;
  }
}
.user-involved.support_page {
  .f {
    font-weight: 600;
    font-size: 12px !important;
  }
}
.manf-home {
  .home-tab {
    margin: 0 5px 25px 5px;
  }

  .grey-card > .ant-card-body {
    padding-top: 0;
  }
  .halfNHalf {
    .white-card.ant-card {
      padding: 21px 10px;
      margin-top: 0;
      margin-bottom: 6% !important;
    }
  }
  .dateTimeBox {
    font-size: 16px;
    .daysName {
      font-weight: 400;
    }
  }
}

.status-smart-lab-pop {
  background-color: #d1f2dd;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  font-size: 15px;
}
.status-div {
  height: 50px;
  font-size: 20px;
}
// ==================================
.manf-stats {
  .imageHeading {
    figure.mtminus-60 {
      display: flex;
      align-items: center;
      figcaption.flex-display {
        position: unset;
      }
    }
  }
}
// ================================
.manf-treatment {
  .ant-tabs-top-bar {
    margin-top: 45px;
    .ant-tabs-nav-container {
      .ant-tabs-nav-wrap {
        text-align: center;
        .ant-tabs-nav {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}
//
.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
  top: 46%;
}
//
.bags_section > .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar {
  margin: 25px;
  margin-bottom: 16px;
  margin-top: 0;
  padding: 0 45px;
  .ant-tabs-tab-active {
    margin-left: 0;
  }
}

//
.toggle_record {
  width: 65px;
  height: 30px;
  background-color: #f56363;
  &::after {
    top: 2px !important;
    width: 22px;
    height: 22px;
  }
}
.toggle_record.ant-switch-checked {
  background-color: #3869d1;
}
//
.ant-tabs-vertical.ant-tabs-card.ant-tabs-left
  .ant-tabs-card-bar.ant-tabs-left-bar
  .ant-tabs-tab-active {
  padding-right: 0;
}
//
.square-table.collect-sample-data.ant-table-wrapper {
  .ant-table-row {
    div.ant-row.ant-form-item {
      margin-bottom: 2px;
    }
  }
}

// ================== SMARTLAB ======================
.smartlab_task {
  .treatment-steps {
    width: 70%;
    .ant-steps-item {
      margin-right: 0 !important;
      margin-left: 5px !important;
      .ant-steps-item-title {
        margin: 0 5px 0 0 !important;
        padding-right:15px;
      }
    }
  }
  .ant-steps-item-finish {
    background-color: #cbf3e0;
  }
  .treatment-kit-steps {
    .ant-steps-item {
      margin-right: 0 !important;
      margin-left: 2px !important;
      .ant-steps-item-title {
        margin: 0 14px 0 0 !important;
      }
    }
  }
}
.smartlab_task_inner {
  .float-right {
    .text-muted {
      color: #000;
      font-weight: 600;
    }
  }
}
//
.inbound-accept-tabs.tabs_body {
  .ant-card-body {
    padding: 0 !important;
  }
  .ant-steps-small.ant-steps-label-horizontal {
    margin-top: 0;
  }
  .ant-steps-item.ant-steps-item-wait.ant-steps-horizontal-large {
    margin-right: 0 !important;
  }
  .ant-steps-item {
    margin: 5px !important;
    .ant-steps-item-title {
      font-size: 15px !important;
    }
  }
}
//
.steps-green {
  .step-bar {
    border: 2px solid #1bb558;
  }
}
.smartlab_home {
  .halfNHalf {
    .white-card.ant-card {
      margin-top: 0;
      padding: 20px;
    }
  }
}
.Component_body {
  .default-border-radius > .ant-card-head {
    padding: 0 !important;
  }
}
//
.home-page.manf-board {
  .ant-select-search--inline {
    .ant-select-search__field {
      position: absolute;
      margin-top: -10px !important;
    }
  }
}
// =======================
// td.status-sample.status-sample {
//   position: relative;
//   color: black;
// }
// td.status-sample.status-sample::after {
//   content: "";
//   background: #f2f2a26b;
//   display: block;
//   width: 88px;
//   height: 38px;
//   position: absolute;
//   top: 7px;
//   left: 12px;
//   border-radius: 20px;
// }
.status-sample {
  #tag1 {
    background-color: #ffdbdb;
    padding: 10px 26px;
    border-radius: 22px;
  }
  #tag2 {
    background-color: #ddffd2;
    padding: 10px 18px;
    border-radius: 22px;
  }
}

.center-container {
  max-width: 1200px;
  margin: auto;
}

.side-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.side-menu::-webkit-scrollbar-thumb {
  background-color: #969696;
}
.side-menu::-webkit-scrollbar {
  width: 3.5px;
  background-color: #f5f5f5;
}

.sidebar:hover {
  ul.side-menu::-webkit-scrollbar {
    width: 5px;
  }
}
.sample-shipping-detail > div > div.ant-tabs {
  width: 100%;
}
.anticon-down {
  margin-left: 4px !important;
}
.flash {
  color: red;
  -webkit-animation: flash linear 1.5s infinite;
  -webkit-animation-name: flash;
  animation: flash linear 1.5s infinite;
  animation-name: flash;
  border-color: #dc4e41;
}
.temp-container .alert-success {
  color: white;
}
.report-head{
  border-radius: 1px;
  height: 50px;
  background-color: #f9f9f9;
  padding-top: 15px;
}