@import './partials/variables';
@import './partials/mixin';
@import './partials/margin';
@import './partials/padding';
@import './partials/grid';
@import './partials/background-color';
@import './partials/helpers';
@import './partials/border';
@import './partials/cards';
@import './partials/capsules';
@import './partials/modal';
@import './partials/formsFields';
@import './partials/tabs';
@import './partials/buttons';
@import './partials/_steps';
@import './components/sidebar';
@import './components/login';
@import './components/header';
@import './components/patient-table';
@import './components/home';
@import './components/enrollment';
@import './components/patient-details';


body {
  background-color: white;
}

.profile-grey-bg {
  background-color: #ececec;
  padding: 20px;
  border-radius: 35px;
}

.default-select {
  .ant-select-selection {
    margin-top: -8px;
  }
}

.main {
  padding: 5px;
  margin-top: 5px;
}

a {
	color: $primary-color;
	&:hover
	{
		color: $primary-color;
	}
}

.square-table .ant-table-content {
  table {
    border-collapse: separate;
    text-align: center;
    vertical-align: middle;
  }
  table thead tr {
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 22px;
  }
  .ant-table-thead tr th {
    border:unset;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    &:first-child {
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
    }
    &:last-child {
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
    }
  }
}

.ant-form-vertical .ant-form-item { 
  padding-bottom: unset;
  margin-bottom: unset;
}

.square-table .ant-table-tbody {
  tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected){
    td{
      background: #fff;
    }
  }
}
.page-title{
  font-size: 25px;
  font-weight: 600;
}
.heading {
  font-size : 25px;
}
