.admin-page, .logistics-page{
  .logistic-container{
    padding: 5rem;
  }
  .ant-select{
    width: 100%;
  }
  .ant-select-selection--multiple{
    background-color: #f9f9f9;
  }
  .ant-select-selection--multiple .ant-select-selection__rendered {
    height: 80px;
  }
  .ant-select-selection__choice{
    background-color: #d1f2dc;
    border: 0;
    border-radius: 22px;
    color: #233151;
    list-style: none;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 15px;
    font-size: 	1.125rem;
  }
  .ant-select-selection__rendered > ul > li {
    height: 100%;
    padding: 15px 30px;
    margin-top: 25px;
  }
  .ant-select-selection__choice__remove > i {
    font-size: 1.063rem;
    margin-top: 5px;
  }
  .ant-checkbox-wrapper h2{
    display: inline-block;
  }
}