.chat-page {
  .ant-list-split .ant-list-item {
    border-bottom: none;
  }
  .ant-comment {
    min-width: 50%;
  }
  .left-bar {
    text-decoration: none;
    .ant-card {
      height: calc(100vh - 100px);
    }
    .ant-avatar-image {
      height: 70px;
      width: 70px;
      border: 1.5px solid #f5f6fa;
      img {
        width: 70px;
        height: 70px;
        padding: 0;
        border-radius: 50%;
      }
    }
    .ant-list-item-meta-title {
      font-size: 20px;
      color: #6c757d;
    }
    .ant-list-item-meta-description {
      font-size: 10px;
      color: #6c757d;
    }
  }

  .right-bar {
    .send-message-input {
      background-color: #fff;
      border: 1px solid #bebfcb;
      border-radius: 44px;
    }
    .ant-comment {
      border-radius: 22px;
      margin-top: 10px;
      max-width: 85%;
    }
    .message-sent {
      justify-content: right;
      .ant-comment {
        background-color: rgba(120, 98, 255, 0.14);
      }
    }
    .message-received {
      justify-content: left;
      .ant-comment {
        background-color: #f1faff;
      }
    }
    .ant-comment-content-author-name {
      font-size: 14px;
    }
    .message-time {
      padding: 10px 5px;
      color: rgba(35, 49, 81, 0.6);
      font-size: 10px;
    }
    .ant-list-items {
      margin-bottom: 20px;
      overflow-y: auto;
      max-height: 400px;
    }
  }

  .max-h-200 {
    // max-height: 200px;
    // overflow-y: auto;
  }
}
