.enrollment-page {
  margin: 2% 2%;

  .ant-tabs .ant-tabs-left-content {
    border-left: unset;
  }
  .ant-tabs .ant-tabs-left-bar {
    border-right: unset;
    width: 23%;
  }
  .ant-tabs-left-bar .ant-tabs-tab {
    margin-top: 15px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 22px;
    font-size: 1rem;
    padding: 15px;
    color: #233151;
    background-color: #f9f9f9;
    &::before {
      position: inherit;
      content: '';
      height: 28px;
      width: 28px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      background-size: 100%;
      background-image: url('https://cgt-dev-ft.microsysx.com/images/v2/icons/circle.svg');
      border-top: none;
    }
  }
  .ant-tabs-left-bar .ant-tabs-tab-active {
    background-color: #f2f5fb;
    &::before {
      background-image: url('https://cgt-dev-ft.microsysx.com/images/v2/icons/circle-active.svg');
    }
  }
  .ant-tabs-left-bar .ant-tabs-tab-completed {
    background-color: #d1f2dc;
    &::before {
      background-image: url('https://cgt-dev-ft.microsysx.com/images/v2/icons/status-done-circle.svg');
    }
  }
  .ant-tabs-ink-bar {
    display: none;
    background-color: transparent;
  }
  .ant-tabs .ant-tabs-left-bar .ant-tabs-tab,
  .ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
    text-align: left;
    padding: 25px;
  }

  .consent-page {
    padding: 0 15px;
    form {
      text-align: center;
    }
    .ant-checkbox-wrapper {
      font-size: 1.3rem;
      color: #919191;
      margin-top: 50px;
    }
    .ant-upload {
      margin-top: 30px;
    }
    .ant-table-content .ant-table-tbody {
      tr {
        border: unset;
        border-bottom: 1px solid #e2e2e2;
      }
    }
  }
  .ant-upload-select-picture-card i {
      font-size: 2rem;
      color: #999;
  }
  .ant-upload-select-picture-card .ant-upload-text {
      margin-top: 8px;
      color: #666;
  }
  .ant-switch {
    margin-top: 10px;
    height: 40px;
    width: 85px;
    background-color: #fa6363;
    color: #fff;
    &::after {
      top: 11px;
      left: 8px;
    }
  }
  .ant-switch-inner {
    font-size: 1rem;
  }
  .ant-switch-checked {
    background-color: #2255c2;
    &::after {
      top: 9px;
      left: 95%;
    }
  }
  .btn-complete-category {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .fc {
    color: #000;
    a {
      color: #000;
      &:hover {
        color: #000;
      }
    }
    .fc-toolbar {
      background: #fff;
      border-radius: 20px;
      padding: 10px 20px;
      margin-top: 15px;
      margin-bottom: 1.5rem;
      vertical-align: middle;
    }
    .fc-view-harness {
      background: #fff;
      border-radius: 20px;
      padding: 15px;
    }
    .fc-col-header-cell {
      font-size: 	0.75rem;
      padding: 0.75rem 0.5rem;
      font-weight: 500;
    }
    .fc-daygrid-body {
      border-top: 1px solid #ebedf2;
    }
    .fc-toolbar-title {
      display: inline-block;
      font-size: 	1.125rem;
      margin: 15px;
      text-transform: uppercase;
    }
    .fc-prevYear-button,
    .fc-nextYear-button {
      font-size: 	0.875rem;
      color: #233151;
      background-color: transparent;
      box-shadow: none;
      border: 1px solid #ebedf2;
      padding: 15px 10px;
      border-radius: 22px;
      &:hover {
        background-color: $primary-color;
      }
    }
    .fc-button-primary:not(.fc-prevYear-button, .fc-nextYear-button) {
      background-color: $primary-color;
      color: #fff;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
  .fc-theme-standard .fc-scrollgrid,
  .fc-theme-standard th {
    border: unset;
  }
  .fc-theme-standard td {
    &:last-child {
      border-bottom: unset;
    }
  }

  .empty-message {
    color: #383d41;
    font-size: 	0.875rem;
    font-weight: bold;
    margin-top: 0.5rem;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
}
