header.ant-layout-header {
  background-color: white;
  height: auto;
  padding-top: 15px;

  .user-detail,
  .hospital-detail {
    max-width: 300px;
  }
  .user-detail {
    float: left;
  }
  .hospital-detail {
    float: right;
  }
  .capsule {
    img {
      width: 38px;
      max-height: 38px;
      border-radius: 52px;
      margin: 1.3rem;
    }
  }
}
