.home-page {
  padding-right: 15px;
  padding-left: 15px;
  margin: 25px;

  .title{
    font-size: 25px;
  }

  .home-tab {
    text-decoration: none;
    margin: 15px auto;
    padding: 25px;
    box-shadow: 0 26px 120px rgb(0 0 0 / 4%);
    color: #909090;
    background-color: #fff;
    border-radius: 44px;
  
    &::before{
      content: ">";
      right: 20px;
      height: 23px;
      line-height: 1;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 24px;
      font-weight: bold;
      position: relative;
      left: 95%;
    }
  
    &:hover{
      cursor:pointer;
      color: #fff;
      transition: transform .8s ease-in-out,background-color .3s ease-in-out,color .3s ease-in-out,background-image .3s ease-in-out;
      background-image: url("https://cgt-dev-ft.microsysx.com/assets/media/bg/bg-hover-blue.svg");
      background-size: cover;
      h4{
        color: #fff;
      }
    }
  
    .heading-home {
      display: inline-flex;
      flex-flow: column;
      vertical-align: middle;
      margin-left: 10px;
      padding-left: 10px
    }
    img {
      background-color:#f9f9f9;
      vertical-align: middle;
      border-style: none;
      max-width: 72px;
      max-height: 85px;
      padding: 13px;
      border-radius: 22px;
      &:hover{
        transition: transform .8s ease-in-out,background-color .3s ease-in-out,color .3s ease-in-out;
      }
    }
  }
  
  .home-stats-head {
    height: 120px;
    margin: 15px auto;
    border-radius: 22px;
    box-shadow: 0 26px 120px rgb(0 0 0 / 4%);
    transition: transform .8s ease-in-out,background-color .3s ease-in-out,color .3s ease-in-out,background-image .3s ease-in-out;
    background-image: url("https://cgt-dev-ft.microsysx.com/assets/media/bg/bg-hover-blue.svg");
    background-size: cover;
  }
  .stats {
    color: #233151;
    text-decoration: none;
    margin: 15px auto;
    box-shadow: 0 26px 120px rgb(0 0 0 / 4%);
    border-radius: 22px;
  
    .completed, .in-process, .booked, .spoilage{
      width: 20px;
      height: 22px;
      position: absolute;
      border-radius: 10px;
    }
    .completed {
      background: #28ced9;
    }
    .in-process{
      background: #2255c2;
    }
    .booked{
      background: #f4b71a;
    }
    .spoilage{
      background: #fa6363;
    }
  
    .number{
      margin-left: 1.5rem;
    }
  }
  
  .white-card{
    text-decoration: none;
    margin: 15px auto;
    box-shadow: 0 26px 120px rgb(0 0 0 / 4%);
    color: #233151;
    border-radius: 22px;
    background-color: #fff;
    padding: 0.5rem;
  }
  
  .search-dropdown {
    width: 100%;
  }

  .ant-select-selection--single{
    background-color: #f9f9f9;
    height: 55px;
  }
  
  .ant-select-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #464E5F;
    line-height: 52px;
  }

  .chart-container {
    margin-right: 20px;
  }
  .chart-right-stats{
    padding-top: 25px;
  }

  .chartjs-render-monitor{
    height: 80px !important;
  }

}