.inventory-page {
  .icon-text {
    border: 1px solid red;
  }
  .ant-tabs {
    color: black;
  }

  .h-tabs .ant-tabs-tab {
    padding: 8px 25px;
  }
  .flag-title {
    img {
      margin-right: 5px;
      font-size: 16px;
    }
  }

  .imageHeading {
    .image-container {
      background-color: $secondary-color;
    }
  }
}

.fridge-tile {
  cursor: pointer;
  padding: 15px;
  border-radius: 22px;
  background-color: white;
  margin-top: 20px;
  .img {
    text-align: center;
  }
  .location {
    color: #7a7575;
    font-size: 14px;
  }
  .title {
    color: #000;
    padding-top: 10px;
  }
}

.collection-processing-steps {
  .ant-form-item-children button {
    zoom: 1.3;
  }
  .ant-switch {
    background-color: $danger;
  }
  .ant-switch-checked {
    background-color: $primary-color;
  }
}
