.support-detail {
  .user-involved {
    .ant-tabs-tabpane {
      font-size: 0.875rem;
      h6 {
        font-size: 0.875rem;
      }
    }
  }
}
.support-page {
  .ant-tabs {
    overflow: inherit;
  }
}

$chatHeight: 255px;
.support-chat {
  min-height: 400px;

  .chat-list {
    min-height: $chatHeight;
    max-height: $chatHeight;
    overflow-y: scroll;
  }
}
.specific-page {
  .ant-tabs.ant-tabs-top {
    padding: 1.5rem;
  }
  .page-header {
    padding-right: 45px !important;
  }
  .ant-tabs-nav .ant-tabs-tab {
    font-weight: 400 !important;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: inherit !important;
  }
  .ant-btn {
    height: fit-content;
    padding: 0;
    span {
      padding: 13px 15px;
      font-size: 1rem;
    }
  }
  .ant-table-row {
    .action-button.ant-btn {
      height: fit-content;
      padding: 0 5px;
      span {
        font-size: 14px;
      }
      // padding: 13px 15px;
    }
    .action-button.ant-btn:hover,
    .action-button.ant-btn:focus {
      color: unset !important;
      background-color: #ececec;
      border: 1px solid #ececec !important;
    }
  }
}