.support-detail {
  .user-involved {
    .ant-tabs-tabpane {
      font-size: 	0.875rem;
      h6 {
        font-size: 	0.875rem;
      }
    }
  }
}

$chatHeight: 255px;
.support-chat {
  min-height: 400px;

  .chat-list {
    min-height: $chatHeight;
    max-height: $chatHeight;
    overflow-y: scroll;
  }
}
