.ant-btn {
  height: 55px;
  border-radius: 22px;
}

.screening-btn{
  .ant-btn{
    width: 100%;
  }
}

.ant-btn-primary {
  background-color: #2255c2;
  border-color: #2255c2;
  &:hover {
    background-color: #1749b5;
    border-color: #1749b5;
  }
  &:focus {
    background-color: #1749b5;
    border-color: #1749b5;
  }
}
.action-button{
  background: #f1f1f1;
  border: 1px solid transparent;
  height: 40px;
}
.ant-btn-drop-down{
  margin-top: 15px;
  height: 25px;
  width: 70px;
  border-radius: 9px;
  padding-left: 10px;
}
.btn-color{
  color:black
}