.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5{
  padding-bottom: 5px;
}
.p-15 {
  padding: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-50 {
  padding-top: 50px;
}
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.p-30{
  padding: 30px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0 !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pr-2 {
  padding-right: 2rem;
}

.pt-0 {
  padding-top: 0 !important;
}