.rounded-table {
  table {
    border-collapse: separate;
    border-spacing: 0 1em;
    text-align: center;
    vertical-align: middle;
  }

  table thead tr {
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 22px;
    margin-top: 2rem;
  }

  .ant-table-thead tr th {
    padding: 15px;
    font-weight: bold;
    text-align: center;
    &:first-child {
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
    }
    &:last-child {
      border-bottom-right-radius: 40px;
      border-top-right-radius: 40px;
    }
  }

  .ant-table-tbody td {
    padding: 15px 5px; // check patient list before changing it
    font-size: 14px;
    vertical-align: middle;
    color: #233151;
    font-weight: 400;
    &:hover {
      background-color: #fff;
      cursor: pointer;
    }
    &:first-child {
      border-bottom-left-radius: 44px;
      border-top-left-radius: 44px;
    }
    &:last-child {
      border-bottom-right-radius: 44px;
      border-top-right-radius: 44px;
    }
  }

  .ant-table-tbody tr {
    border-collapse: collapse;
    border-style: hidden;
    // box-shadow: 0 0 0 1px #e2e2e2;
    border-radius: 44px;
    margin-top: 2rem;
    color: #909090;
    &:hover {
      background-color: #fff;
      cursor: pointer;
    }
  }
}
