.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border: 1px solid #ececec;
  border-radius: 30px;
  margin-right: 9px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: #3869d1;
  background-color: #f2f5fb;
}

.ant-tabs-card-bar {
  padding-bottom: 10px;
  border-bottom: unset;
}
