.h-tabs {
  .ant-tabs-bar {
    border-bottom: 0;
  }
  .ant-tabs-tab-active {
    color: #3869d1;
    background-color: #f2f5fb;
    @extend .default-border-radius;
  }
  .ant-tabs-tab {
    border: 1px solid #e5e4e4;
    @extend .default-border-radius;
  }
  .ant-tabs-nav {
    padding-bottom: 10px;
  }
}

.pills-tabs {
  .ant-tabs-card-bar .ant-tabs-nav-container {
    height: auto !important;
  }

  .ant-tabs-tab-active {
    &::before {
      background-image: url($urlBase + '/web/icons/circle-active.svg') !important;
    }
  }

  .ant-tabs-tab {
    &::before {
      background-image: url($urlBase + '/web/icons/circle.svg');
      max-width: 40px;
      height: 56px;
      background-repeat: no-repeat;
      background-position: 0, 0;
      margin-left: 15px;
    }
  }

  .ant-tabs.ant-tabs-card {
    .ant-tabs-tab {
      padding: 16px 58px;
      line-height: initial;
      height: auto;
    }
  }
}

.no-border-bottom {
  .ant-tabs-ink-bar {
    display: none !important;
  }
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border: 1px solid #ececec;
  border-radius: 20px;
  margin-right: 9px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: #3869d1;
  background-color: #f2f5fb;
}

.ant-tabs-card-bar {
  // padding-bottom: 10px;
  border-bottom: unset;
}

.default-tabs {
  .ant-tabs {
    .ant-tabs-left-bar,
    .ant-tabs-right-bar {
      .ant-tabs-tab {
        text-align: left;
        padding: 15px 25px;
        height: auto;
        background-color: #f9f9f9;
        border-radius: 22px !important;
        padding-left: 40px !important;
        // margin: auto;
        &::after {
          content: '';
          position: absolute;
          height: 28px;
          width: 28px;
          left: 7px;
          top: 50%;
          bottom: 50%;
          margin: auto;
          background-size: 100%;
          background-image: url(https://cgt-dev-ft.microsysx.com/images/v2/icons/circle.svg);
        }
      }
      .ant-tabs-tab-active {
        padding: 15px 25px;
        padding-bottom: 15px !important;
        &::after {
          background-image: url(https://cgt-dev-ft.microsysx.com/images/v2/icons/circle-active.svg);
        }
      }
    }

    .ant-tabs-left-bar,
    .ant-tabs-left-content {
      border: none;
    }
  }
}
